@model IEnumerable<WEB.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    @*<thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td> 
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Price)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Quantity)
            </td>
            <th></th>
        </tr> //Needs to be adjusted
    </thead>*@
    <tbody>
@{ var i = -1;}
@foreach (var item in Model) {
    i++;
        <tr>
            <td colspan="4">
                <form asp-action="AddToCart">
                    <input type="hidden" asp-for="ElementAt(i).Name" />
                    <input type="hidden" asp-for="ElementAt(i).Description" />
                    <input type="hidden" asp-for="ElementAt(i).Price" />
                    <input type="hidden" asp-for="ElementAt(i).Id" />
                    <table>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                               <input asp-for="ElementAt(i).Quantity"/>
                            </td>
                            <td>
                                <input type="submit" value="AddToCart" class="btn btn-primary" />
                                @*<a asp-action="AddToCart" asp-route-id="@item.Id" asp-route-quantity="$('#Id_Of_Textbox').val()">Add to cart</a>*@ |
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
            
        </tr>
}
    </tbody>
</table>
